/* Thjesht kopjo CSS e LoginPage */
@import './LoginPage.scss';

/* Nëse do, mund të ndryshosh ngjyrën e Link-it mbrapsht */
.register-btn {
    display: inline-block;
    text-align: center;
    padding: 12px 0;
    margin-top: 8px;
    border-radius: 10px;
    background-color: #646cff;
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-btn:hover {
    background-color: #535bf2;
}