.ai-wrapper {
    position: fixed;
    bottom: 20px;
    right: 20px;

    .ai-icon {
        z-index: 1;
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #376de4;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        transition: background-color 0.3s ease;

        span {
            color: #fff;
        }
    }

    .ai-content {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 350px;
        height: 400px;
        background-color: rgb(224, 224, 224);
        border-radius: 12px;
        border-bottom-right-radius: 40px;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 10px;

        .ant-form {
            width: 80%;
            margin: 0;
            padding: 0;
            display: flex;

            .ant-form-item {
                width: 100%;
                margin-bottom: 0;

                .ant-input {
                    width: 100%;
                    min-height: 60px;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }

            .ai-search-button {
                width: 30px;
                height: 100%;

                .ant-row,
                .ant-form-item-control-input,
                .ant-form-item-control-input-content {
                    height: 100%;
                    width: 100%;
                }

                button {
                    width: 100%;
                    height: 100%;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }
        }

        .conversation-wrapper {
            width: 100%;
            background-color: rgb(255, 255, 255);
            margin-bottom: 10px;
            height: 100%;
            border-radius: 12px;
            display: flex;
            justify-content: flex-end;
            overflow: hidden;

            .conversation {
                padding: 12px;
                display: flex;
                gap: 10px;
                flex-direction: column;
                justify-content: flex-start;
                height: auto;
                overflow-y: auto;
                width: 100%;

                .message-wrapper {
                    align-self: flex-end;
                    display: flex;
                    align-items: center;
                    flex-direction: row-reverse;
                    gap: 8px;

                    .message {
                        max-width: 200px;
                        background-color: rgb(44, 181, 22);
                        color: #fff;
                        font-size: 18px;
                        padding: 8px 12px;
                        border-radius: 8px;
                        word-wrap: break-word;
                    }

                    &.ai {
                        align-self: flex-start;

                        .message {
                            background-color: rgb(0, 107, 165);
                        }
                    }

                    &.user {
                        .message {
                            background-color: rgb(44, 181, 22);
                        }
                    }
                }
            }
        }
    }

}